---
layout: default
---
<h1>{{ page.title }}</h1>

<p>{{ page.date | date_to_long_string: "ordinal" }}  · {% include reading-time.html %} </p>
<p>
  [
  {% for tag in page.tags %}
  {% capture tag_name %}{{ tag }}{% endcapture %}
  <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
  ]
</p>

<hr>
</br>

{{ content }}

</br>
<hr>
</br>

{% include share-buttons.html %}

</br>

{% if page.xpost_devto %}
<span>This article was also X-Posted on <a href="https://dev.to/ericathedev">
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Erica Tanti's DEV Profile" height="30" width="30">
</a> <a href="{{ page.xpost_devto }}">here</a>.</span>
{% endif %}